<header
  class="sticky left-0 right-0 top-0 z-40 flex h-20 w-full flex-row items-center justify-between border-b border-b-border bg-background px-7 shadow-md md:justify-between md:px-12"
>
  {{! Mobile Icon }}
  <a href="/movies" class="text-xl font-bold">
    Labpro<span class="text-primary">OHL</span>
  </a>

  {{! Menu Icon Button }}
  <button
    id="sidebar-open-button"
    aria-label="Open Navigation Bar"
    class="flex size-9 md:hidden"
  >
    <svg
      class="size-full"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-menu"
    >
      <line x1="4" x2="20" y1="12" y2="12" />
      <line x1="4" x2="20" y1="6" y2="6" />
      <line x1="4" x2="20" y1="18" y2="18" />
    </svg>
  </button>

  {{!-- !Sidebar --}}
  <div
    id="sidebar-container"
    class="fixed bottom-0 right-[-200px] top-0 z-10 flex h-full w-[200px] translate-x-0 flex-col gap-12 border-l border-l-border bg-background px-7 py-6 text-base duration-300 ease-in-out md:static md:h-auto md:w-auto md:translate-x-0 md:items-center md:border-none md:bg-transparent md:p-0"
  >
    <div class="flex flex-row justify-between gap-6 md:hidden">
      {{!-- Mobile theme button (defaults to lightmode) --}}
      <button
        id="mobile-theme-button"
        aria-label="Toggle Theme"
        class="inline-flex size-10 items-center justify-center whitespace-nowrap rounded-md border border-input bg-background text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
      >
        <svg
          class="size-6"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-sun"
        >
          <circle cx="12" cy="12" r="4" />
          <path d="M12 2v2" />
          <path d="M12 20v2" />
          <path d="m4.93 4.93 1.41 1.41" />
          <path d="m17.66 17.66 1.41 1.41" />
          <path d="M2 12h2" />
          <path d="M20 12h2" />
          <path d="m6.34 17.66-1.41 1.41" />
          <path d="m19.07 4.93-1.41 1.41" />
        </svg>
      </button>

      {{! Close Button }}
      <button
        id="sidebar-close-button"
        aria-label="Close Navigation Bar"
        class="flex size-9"
      >
        <svg
          class="size-full"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-x"
        >
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </div>

    {{! Path lists  }}
    <nav>
      <ul
        class="flex flex-col items-center gap-5 md:flex-row md:gap-10"
        id="navbar-links-ul"
      >
        <li>
          <a
            href="/movies"
            class="font-medium transition-all duration-200 hover:text-primary"
          >
            Available Movies
          </a>
        </li>

        {{#if isUserLoggedIn}}
        <li>
          <a
            href="/my-movies"
            class="font-medium transition-all duration-200 hover:text-primary"
          >
            My Movies
          </a>
        </li>
        {{/if}}

        <li>
          <button
            id="desktop-theme-button"
            aria-label="Toggle Theme"
            class="hidden size-10 items-center justify-center whitespace-nowrap rounded-md border border-input bg-background text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 md:relative md:left-4 md:inline-flex"
          >
            <svg
              class="size-6"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-sun"
            >
              <circle cx="12" cy="12" r="4" />
              <path d="M12 2v2" />
              <path d="M12 20v2" />
              <path d="m4.93 4.93 1.41 1.41" />
              <path d="m17.66 17.66 1.41 1.41" />
              <path d="M2 12h2" />
              <path d="M20 12h2" />
              <path d="m6.34 17.66-1.41 1.41" />
              <path d="m19.07 4.93-1.41 1.41" />
            </svg>
          </button>
        </li>

        {{#if isUserLoggedIn}}
        <li>
          <button
            id="sign-out-button"
            class="inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-destructive px-7 py-2 text-sm font-medium text-destructive-foreground ring-offset-background transition-colors hover:bg-destructive/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
          >
            Sign Out
          </button>
        </li>
        {{else}}
        <li>
          <a href="/auth/login">
            <button
              class="inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-primary px-7 py-2 text-sm font-medium text-primary-foreground ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
            >
              Sign In
            </button>
          </a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </div>

  {{! Side bar opaque background }}
  <div
    id="sidebar-blur"
    class="inset-0 z-0 hidden h-full w-full bg-black bg-opacity-80 md:hidden"
  ></div>
</header>
