<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' href='/styles/tailwind.css' />
  </head>
  <body class='bg-primary flex'>
    wkwk
    {{message}}
  </body>
</html>